p{
  color: white;
  text-align: center; 
  padding-top: 10px;
  font-size: 30px;
}

//the look/color/animation for the book background and the pages
//------------------------------------------------------------------------------------------------
.backDoor
{
  background-color: LightSkyBlue;
  position:relative;
  width:200px;
  height:300px;
  
  margin: 0 auto;
  margin-top:50px;
}

.door, .door3, .door5
{
  background-color: pink;
  position:absolute;
  top:0px;
  left:0px;
  width:200px;
  height:300px;
 
  transform-origin: left;
  /*Speed of the Door animation*/
  transition: all 0.5s ease-in-out;
}

.door2, .door4
{
  background-color: lightgreen;
  position:absolute;
  top:0px;
  left:0px;
  width:200px;
  height:300px;
 
  transform-origin: left;
  /*Speed of the Door animation*/
  transition: all 0.5s ease-in-out;
}

.doorOpen, .doorOpen2, .doorOpen3, .doorOpen4, .doorOpen5
{
  /*prespectiv creates the door open effect*/
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-105deg);
}
//----------------------------------------------------------------------------------------------------------

//The look for the button
//-----------------------------------
.Press {
  margin: 20px 20px 20px 20px;
  display:flex;
  justify-content: center;
  padding-top: 50%;
}
.button {
background: pink;
border-radius: 50px;
}
//-----------------------------------

//The rainbow background that happens after the button gets clicked on
//---------------------------------------------------------------------------------------------------------------------------------
.Look { 
  height: 100%;
  width: 100%;
  left:0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  //The colors and at what angle the colors will tilt
  //----------------------------------------------------------------------------------------------------------------------------
background: linear-gradient(124deg, #ff2400, #ff2400, #ff8000, #ffff00, #1de840, #1ddde8, #2b1de8, #dd00f3, #ff00ff , #ff00ff);
  //----------------------------------------------------------------------------------------------------------------------------
background-size: 1800% 1800%;

  //How many sekunds the colors will apair
  //------------------------------------------
-webkit-animation: rainbow 1s ease infinite;
-z-animation: rainbow 6s ease infinite;
-o-animation: rainbow 6s ease infinite;
  animation: rainbow 6s ease infinite;}
//------------------------------------------

//How much percent color should be transitioning
//--------------------------------------------------
@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
//--------------------------------------------------
//---------------------------------------------------------------------------------------------------------------------------------
